.notFoundPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505DD0;
    width: 100%;
    height: 100%;
}

.notFoundPage p {
    color: white;
    font-size: 5em;
}
