.appletPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.appletPage .principalView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.appletPage .principalView h1 {
  font-size: 2.5em;
  margin: 1em 0;
}

.appletPage .principalView .input {
  width: 80vw;
  max-width: 490px;
  height: 40px;
  line-height: 28px;
  padding: 0 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  transition: .3s ease;
}
 

.appletPage .principalView .input::placeholder {
  color: #9e9ea7;
}
 
.appletPage .principalView .input:focus,
.appletPage .principalView .input:hover {
  outline: none;
  border-color: #505DD0;
  background-color: #fff;
  box-shadow: 0 0 0 4px #adb3e6;
}



.appletPage .principalView .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em 0em;
}

.appletPage .principalView .box-container .areaLabel:hover {
  scale: 1.05;
  transition: .3s ease;
  cursor: pointer;
}

.appletPage .principalView .box-container .areaBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 15em;
  height: 15em;
  margin: 1em;
  border-radius: 1em;
  background-color: red;
  box-shadow: 0 0 20px black;
  transition: transform 3s ease;
}

.appletPage .principalView .box-container .areaTitleBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2px 5px;
  border-radius: 1em;
  background-color: #505DD0;
}

.appletPage .principalView .box-container .areaBox .icon {
  font-size: 2em;
  color: white;
  border-radius: 12%;
  margin: 5px 2px;
}

.appletPage .principalView .box-container .areaBox .areaDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1em;
  font-size: 20px;
}

.appletPage .principalView .connectButton {
  width: 20em;
  margin-top: 1em;
}

.appletPage .principalView .connectedMessage {
  margin-top: 2em;
}
